.nav-link{
    cursor: pointer;
}
#navbar li:link, li:active{
    background-color: gray;
}

#newPlus{

    width: 50px;
    text-align: center;
    font-weight: bold;
}
#gameNav{
    text-align: center;
    font-weight: bold;
}
#input{
    width: 250px;
    margin: 0px 0px 0px 0px;
}
#label{
    font-size: 120%;
    font-weight: bold;
    color:white;
}

#name{
    margin: 20px 0px 0px 100px;
}
#rank{
    margin: 20px 0px 0px 100px;
}
#role{
    margin: 20px 0px 0px 100px;
}
#server{
    position: absolute;
    margin: -290px 0px 0px 450px; 
}
#style{
    position: absolute;
    margin: -185px 0px 0px 450px;
}
#motivation{
    position: absolute;
    margin: -85px 0px 0px 450px;
}
#save{
    position: absolute;
    margin: -255px 0px 0px 750px;
}
#delete{
    position: absolute;
    margin: -155px 0px 0px 750px;
}
#name2{
    margin: 25px 0px 0px 100px;
}
#role2{
    margin: 20px 0px 0px 100px;
}
#server2{
    
    margin: -187px 0px 100px 450px; 
}
#style2{
    margin: -80px 0px 0px 450px;
}
#motivation2{
    margin: 20px 0px 0px 450px;
}
#block{
    display: flex;
    
}

#left{
    width: 300px;
    float: left;
    
}
#right{
    flex: 1;
    width: 300px;
    float:left;
    
}
#box{
    margin: 20px 20px 20px 20px;
}

#createButton{
    margin-left: 20px;
    margin-top: 50px;
}
#cancelButton{
    margin-left: 20px;
    margin-top: 50px;
}