<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
    <a href="../" class="navbar-brand">
      <img src="assets/unsolus.png" id="image">
      <h3 id="title">Unsolus</h3>
    </a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="allplayer" id="allplayer">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="allteams" id="allteams">Teams</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn">
          <button id="loginButton" [routerLink]="['/login']" class="btn btn-warning">Login</button>
        </li>
        <li *ngIf="isLoggedIn">
          <ul class="nav nav-pills">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Username</a>
              <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" [routerLink]="['/player']"> My Players</a>
                <a class="dropdown-item" [routerLink]="['/team']">My Teams</a>
                <a [routerLink]="['/profile']" class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
              </div>
            </div>
          </ul>
        </li>
        <li *ngIf="!isLoggedIn">
          <button id="regButton" [routerLink]="['/register']" class="btn btn-secondary">Register</button>
        </li>
      </ul>
    </div>
 
</nav>
  <div id="main">
    <div>
      <ul id="tit">
        <a >Welcome to Unsolus!</a>
            <li>
              <a>1. Please create an account at Register </a>
              
            </li>
            <li>
                <a>2. After Login you can create your player and team </a>
            </li>
            <li>
                <a>3. At Players tab you can search among players </a>
            </li>
            <li>
                <a>4. At Teams tab you can search among teams </a>
            </li>
      </ul>

    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>