<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Unsolus</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
          <li>
              <a routerLink="dota2" id="dota"></a>
            </li>
            <li>
                <a routerLink="league" id="legends"></a>
              </li>
        <li>
          <a routerLink="players">Players</a>
        </li>
        <li>
          <a routerLink="teams">Teams</a>
        </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li>
              <a href="#" class="btn btn-primary">Log In</a>
          </li>
          <li>
              <a href="#" class="btn btn-warning">Register</a>
          </li> 
      </ul>
    </div>
   
  </div>
</div>

<div class = "container">
  <router-outlet></router-outlet>
</div>
<style>
   btn{
      max-width: 110px;
    }

    #dota{
      width: 50px;
      height: 50px;
      border-radius: 50% 50% 50% 50%  ;
      background-image: url("https://pbs.twimg.com/profile_images/808475349671493632/nvi7WJf4_400x400.jpg");
      background-position: center center;
      background-size: cover;
    }
    #legends{
      width: 50px;
      height: 50px;
      border-radius: 50% 50% 50% 50%  ;
      background-image: url("https://yt3.ggpht.com/-AEerXPqHm3M/AAAAAAAAAAI/AAAAAAAAAAA/S8WpkwxItLQ/s900-c-k-no-mo-rj-c0xffffff/photo.jpg");
      background-position: center center;
      background-size: cover;
    }
</style>