btn{
    max-width: 110px;
  }
  #image{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: -40px -30px 0 -30px;
  }
  #header{
    margin: -25px 40px 0 -25px;
  }
  #dota{
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 50%  ;
    background-image: url("https://pbs.twimg.com/profile_images/808475349671493632/nvi7WJf4_400x400.jpg");
    background-position: center center;
    background-size: cover;
    margin: 5px 5px 5px 5px;
  }
  #legends{
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 50%  ;
    background-image: url("https://yt3.ggpht.com/-AEerXPqHm3M/AAAAAAAAAAI/AAAAAAAAAAA/S8WpkwxItLQ/s900-c-k-no-mo-rj-c0xffffff/photo.jpg");
    background-position: center center;
    background-size: cover;
    margin: 5px 5px 5px 5px;
  }
  #login{
    margin: 2px 5px 2px 5px;
  }
  #register{
    margin: 2px -10px 2px 5px;
  }
  