
  #image{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: -30px 50px -40px -140px;
  }
  h3{
    margin: -30px 0px 0px -45px;
    border-radius: 50%;
    position: relative;
  }
  #navbarColor01{
    margin: 0px 0px 0px 0px;

  }
  #dota{
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 50%  ;
    background-image: url("https://pbs.twimg.com/profile_images/808475349671493632/nvi7WJf4_400x400.jpg");
    background-position: center center;
    background-size: cover;
    margin: 5px 5px 5px 5px;
  }
  #legends{
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 50%  ;
    background-image: url("https://yt3.ggpht.com/-AEerXPqHm3M/AAAAAAAAAAI/AAAAAAAAAAA/S8WpkwxItLQ/s900-c-k-no-mo-rj-c0xffffff/photo.jpg");
    background-position: center center;
    background-size: cover;
    margin: 5px 5px 5px 5px;
  }
  #loginButton{
    width: 110px;
    height: 50px;
    margin: 2px 5px 2px 5px;
  }
  #regButton{
    width: 110px;
    height: 50px;
    margin: 2px 10px 2px 5px;
  }
  #btnGroupDrop1{
    width: 110px;
    height: 50px;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
    color: #808080;
    font-weight: bold;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: #808080;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {background-color: rgb(80, 76, 76)}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown:hover #btnGroupDrop1 {
    background-color: #3e8e41;
}
#title{
  margin-left: 1%;
}
#main{

  height: 500px;
}
#tit{
  font-size: 600;
}