
<div class="navbar navbar-default">
  <div class="container">
      <div class="navbar-brand">
          <img src="assets/unsolus.png" id="image">      
      </div>
      <div class="navbar-header"> 
        <a href="../" class="navbar-brand" id="header">
          <h2>Unsolus</h2></a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="dota2" id="dota"></a>
          </li>
          <li>
            <a routerLink="league" id="legends"></a>
          </li>    
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a routerLink="login" class="btn btn-primary" id="login">Login</a>
          </li>
          <li>
            <a routerLink="register" class="btn btn-warning" id="register">Register</a>
          </li> 
        </ul>
      </div>
  </div>
</div>

<div class = "container">
  <router-outlet></router-outlet>
  <alert></alert>
</div>
