<img class="dotaimg" id="dotaimg">
<div class="container">
    
        <ul class="nav nav-tabs">
                <li class="active">
                    <a routerLink="players" data-toggle="tab" aria-expanded="true">Players</a>
                </li>
                <li class=""><a routerLink="teams" data-toggle="tab" aria-expanded="false">Teams</a></li>
              </ul>
</div>
<div class = "container">
    <router-outlet></router-outlet>
</div>
<div>
    
</div>
<ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="players" data-toggle="tab" href="#home">Player</a>
        </li>
        <li class="nav-item">
          <a routerLink="teams" class="nav-link" data-toggle="tab" href="#profile">Teams</a>
        </li>        
</ul>

