<div>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link">User</a>
            <div class="card border-primary">
                <div class="card-body">
                    <blockquote class="card-blockquote">
                        <label id="Username">{{user?.Username}}</label>
                        <label id="Email">{{user?.Email}}</label>
                        <label >{{user?.DateOfBirth}}</label>
                        <label >{{user?.country}}</label>
                        <label >{{user?.language}}</label>
                    </blockquote>
                </div>
            </div>
        </li>
        <li class="page-item">
            <a class="page-link">+</a>
        </li>
    </ul>
</div>

<div class="card text-white bg-warning">
    <div class="card-body" >
        <blockquote class="card-blockquote" id="Birthday" >
            <label for="DateOfBirth">Date of Birth</label>
            <my-date-picker  [options]="myDatePickerOptions"
            (dateChanged)="onDateChanged($event)" [placeholder]="user?.DateOfBirth"></my-date-picker>
            
        </blockquote>
        <div class="form-group" >
            <label for="Country">Country</label>
            <select class="form-control" id="input" [(ngModel)]="selectedCountry">
                <option *ngFor="let country of countries" [value]="country"
                 [selected]="user?.country == country"  >{{country}}</option>
            </select>
        </div>
        <div class="form-group" >
            <label for="Language">Language</label>
            <select class="form-control" id="input" [(ngModel)]="selectedLanguage" >
                <option *ngFor="let language of languages" [value]="language">{{language}}</option>
            </select>
        </div>
        
        <button type="button" class="btn btn-warning" id="save" (click)="onUpdate()">Save Changes</button>
    </div>
</div>
<div class="card border-warning">
    <div class="card-body">
        <blockquote class="card-blockquote">
            <button type="button" class="btn btn-warning" id="create">Create Team</button>
            <footer>or</footer>
            <button type="button" class="btn btn-warning" id="join">Join Team</button>
        </blockquote>
    </div>
</div>
<!--<div class="panel panel-default">
    <div class="panel-body">
      
        <ul>
            <li>
                {{user.Username}}
               
            </li>
        </ul>

    </div>
    <div class="panel-footer">
        <div *ngIf="editing">
            <input type="text" [(ngModel)]="editValue">
            <a href="#" (click)="onUpdate()">Save</a>
            <a href="#" (click)="onCancel()">Cancel</a>
        </div>
        <div *ngIf="!editing">
                <a href="#" (click)="onEdit()">Edit</a>
        </div>
    </div>

</div>
<form>
    <fieldset>
        <legend>Legend</legend>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="Email" class="form-control" placeholder={{user.Email}}>
        </div>
    </fieldset>
</form>
-->
<!--<div>
        <table class="table table-striped table-hover table-bordered" *ngFor="let user of users" >
                <thead class="thead-dark">
                    <tr>
                        <th>Username</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{user.Username}}</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
</div>
-->