<form (ngSubmit)="onRegister(f)" #f="ngForm">
    <div class="card text-white bg-warning">
        <div class="card-body" >
            <h2 id="register">Register</h2>
                <div class="form-group">
                    <label for="Username" id="label">Username</label>
                    <input type="text" id="input" class="form-control" name="Username" ngModel required>
                    
                </div>
                <div class="form-group" >
                    <label for="Email" id="label">E-mail</label>
                    <input type="Email" id="input" class="form-control" name="Email" ngModel required>
                </div>
                <div class="form-group" >
                    <label for="Password" id="label">Password</label>
                    <input type="Password" id="input" class="form-control" name="Password" ngModel required>
                </div>
                <div class="form-group">
                    <button id="regButton" type="submit" [disabled]="!f.valid" class="btn btn-primary">Register</button>
                </div>
                <button id="cancelButton" [routerLink]="['/login']" class="btn btn-primary">Cancel</button>
        </div>
    </div>
</form>

